.about-me-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.about-me {
  display: flex;
  justify-content: center;
}

.top-block {
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  width: 70vw;
  min-height: 100vh;
  background-color: #21252b;
  color: #fff;
}

.left-block {
  display: flex;
  top: 0;
  left: -30vw;
  width: 30vw;
  min-height: 100vh;
  background-color: #282c34;
}

.left-block img {
  width: 480px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 4%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.7);
}

.go-back {
  position: fixed;
  z-index: 15;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 25px;
  cursor: pointer;
  border: 0;
  border-radius: 100%;
  opacity: 1;
  background-color: #3c3b428c;
}

.go-back::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 10px;
  top: 20px;
  right: 0;
  transform: rotate(45deg);
  background-color: #b3b6bd;
  cursor: pointer;
}

.go-back::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 10px;
  top: 20px;
  right: 0;
  transform: rotate(-45deg);
  background-color: #b3b6bd;
  cursor: pointer;
}

.go-back:hover {
  background-color: transparent;
  opacity: 1;
}

.go-back:hover::after {
  background-color: rgb(173, 13, 13);
}

.go-back:hover::before {
  background-color: rgb(173, 13, 13);
}

.resume {
  font-family: Georgia;
  min-width: 90%;
  margin-top: 60px;
  color: #ced0d6;
  word-wrap: break-word;
}

.contact-from {
  min-width: 25%;
  display: flex;
  justify-content: center;
}

.resume-header {
  display: flex;
  justify-content: space-between;
}

.resume-header--title h1,
.resume-header--title h2 {
  text-transform: uppercase;
}

.resume-header--title h1 {
  font-size: 48px;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  letter-spacing: 3px;
  font-weight: normal;
}

.resume-header--title h2 {
  margin: 0;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 2px;
}

.resume-header--contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume-header--contacts .download-btn {
  display: block;
  background: #666;
  color: white;
  padding: 6px 12px 6px 20px;
  margin-bottom: 6px;
  text-decoration: none;
}

.resume-header--contacts .email-href {
  color: #cf7a60;
}

.resume-header--contacts .phone-href {
  color: #a1a1a1;
}

.resume-header--contacts p {
  margin: 3px 0 3px 0;
}

.about-me-main {
  display: flex;
  flex-direction: column;
  width: 63vw;
}

.about-me-main h3 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.about-me-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 53vw;
}

.personal-info {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 25px;
  margin: 0;
  padding: 0;
}

.about-me-main .personal-info li {
  margin-bottom: 10px;
  list-style: none;
}

.personal-info--title {
  position: relative;
  margin-right: 10px;
  padding-bottom: 1px;
  color: #dababa;
}

.personal-info--value {
  color: #dccfcf;
}

.who-i-am {
  background-color: #3c3b428c;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.who-i-am:nth-child(1) {
  margin-top: 0.4em;
}

@media (max-width: 1850px) {
  .left-block img {
    width: 365px;
    height: 390px;
  }
}

@media (max-width: 1550px) {
  .left-block img {
    width: 280px;
    height: 300px;
  }
}

@media (max-width: 1150px) {
  .top-block {
    position: unset;
    width: 100vw;
  }

  .left-block {
    display: none;
  }

  .about-me-main {
    width: 90vw;
  }

  .about-me-info {
    width: 80vw;
  }
}

@media (max-width: 805px) {
  .resume-header--title h1 {
    font-size: 32px;
  }

  .resume-header--title h2 {
    font-size: 23px;
  }

  .about-me-info {
    width: 90vw;
  }
}

@media (max-width: 620px) {
  .resume {
    padding-left: 5px;
    padding-right: 5px;
  }

  .resume-header {
    flex-direction: column-reverse;
  }

  .resume-header--title {
    margin-top: 20px;
  }

  .resume-header--title h1 {
    font-size: 23px;
  }

  .resume-header--title h2 {
    font-size: 17px;
  }

  .download-btn {
    width: 145px;
    text-align: center;
    padding: 6px 12px 6px 12px;
  }

  .personal-info {
    flex: 0;
    max-width: 100%;
  }

  .about-me-info {
    display: block;
  }
}

@media (max-width: 320px) {
  .top-block {
    width: 320px;
  }

  .about-me-page {
    width: 320px;
  }

  .resume-header--title h1 {
    font-size: 20px;
  }

  .resume-header--title h2 {
    font-size: 15px;
  }
}
