.tabs {
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.tabs li {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 28px 0 28px;
	list-style: none;
	height: 48px;
	line-height: 0;
	color: #87898d;
	font-size: 15px;
	background-color: #21252b;
	border-right: 1px solid #181a1f;
	box-sizing: border-box;
}

.tabs li:nth-child(1) {
	border-left: 1px solid #181a1f;
}

.tabs li:hover {
	background-color: #323842;
	cursor: pointer;
	padding-top: 2px;
	border-bottom: 2px solid #4b515c;
	box-sizing: border-box;
}

.tabs li h2 {
	display: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.btn-close::before {
	position: absolute;
	top: 24px;
	right: 10px;
	content: '';
	width: 12px;
	height: 2px;
	transform: rotate(45deg);
	background-color: #fff;
}

.btn-close::after {
	position: absolute;
	top: 24px;
	right: 10px;
	content: '';
	width: 12px;
	height: 2px;
	transform: rotate(-45deg);
	background-color: #fff;
}

.active {
	background-color: #282c34;
}

.tabs .js::before {
	position: absolute;
	left: 10px;
	content: '';
	width: 14px;
	height: 14px;
	background-image: url('./img/js.png');
	background-repeat: no-repeat;
	background-size: 14px;
}

.tabs .html-css::before {
	position: absolute;
	left: 10px;
	content: '';
	width: 14px;
	height: 14px;
	background-image: url('./img/html-css.png');
	background-repeat: no-repeat;
	background-size: 14px;
}

.tabs .r-js::before {
	position: absolute;
	left: 10px;
	content: '';
	width: 14px;
	height: 14px;
	background-image: url('./img/React.png');
	background-repeat: no-repeat;
	background-size: 14px;
}