.cards_wrapper {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1950px;
  padding: 0 20px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 40px 50px 70px 50px;
  min-width: 380px;
  min-height: 365px;
  text-decoration: none;
}

.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.wrap {
  cursor: pointer;
  min-width: 380px;
  min-height: 365px;
  position: relative;
  transform-style: preserve-3d;
}

.wrap:hover .img {
  transform: scale(1.045);
}

.wrap:hover .title:after {
  width: 90%;
}

.profile {
  position: relative;
  max-width: 330px;
  padding: 25px;
  padding-bottom: 255px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
  z-index: 5;
}

.profile .img {
  position: absolute;
  width: 100%;
  height: 300px;
  right: -59px;
  bottom: -55px;
  border-style: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform-style: preserve-3d;
  transform: translateZ(15px);
  transition: all 0.5s;
}

.profile .title {
  position: relative;
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #333;
  top: 8px;
  transform-style: preserve-3d;
  transform: translateZ(25px);
}

.profile .title::after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 3px;
  width: 0;
  height: 10px;
  background: deepskyblue;
  z-index: -1;
  transition: all 0.5s;
}

.profile .description {
  position: relative;
  font-size: 13px;
  line-height: 19px;
  font-family: tahoma;
  margin-bottom: 15px;
  opacity: 0.4;
  left: 8px;
  top: 5px;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}

@media (max-width: 1100px) {
  .card {
    margin: 0 45px;
    margin-bottom: 90px;
  }

  .profile .img {
    height: 250px;
    bottom: -20px;
    right: 0;
  }
}

@media (max-width: 500px) {
  .cards {
    padding: 0;
  }

  .wrap {
    min-width: 280px;
    margin-bottom: 60px;
  }

  .card {
    min-width: 280px;
    padding: 0 20px;
    margin: 0;
  }
}
